services:

  filerskeepers-app:
    platform: linux/amd64
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    container_name: filerskeepers-app
    volumes:
      - ../filerskeepers/:/app/src/filerskeepers/
      - ../tests/:/app/src/tests/
    command: uv run uvicorn filerskeepers.main:app --reload --host=0.0.0.0
    ports:
      - "8600:8000"
    environment:
      - FILERSKEEPERS_DEBUG=1
      - FILERSKEEPERS_MONGODB_URL=mongodb://filerskeepers:filerskeepers@filerskeepers-mongodb:27017/filerskeepers?authSource=admin
      - FILERSKEEPERS_REDIS_URL=redis://filerskeepers-redis:6379
    depends_on:
      - filerskeepers-mongodb
      - filerskeepers-redis

  filerskeepers-worker:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    container_name: filerskeepers-worker
    command: uv run arq filerskeepers.queue.workers.WorkerSettings --watch /app/src/
    volumes:
      - ../filerskeepers/:/app/src/filerskeepers/
    environment:
      - FILERSKEEPERS_DEBUG=1
      - FILERSKEEPERS_MONGODB_URL=mongodb://filerskeepers:filerskeepers@filerskeepers-mongodb:27017/filerskeepers?authSource=admin
      - FILERSKEEPERS_REDIS_URL=redis://filerskeepers-redis:6379
      - FILERSKEEPERS_ARQ_HOST=filerskeepers-redis
      - FILERSKEEPERS_ARQ_PORT=6379
      - FILERSKEEPERS_ARQ_DB=2
    depends_on:
      - filerskeepers-mongodb
      - filerskeepers-redis

  filerskeepers-mongodb:
    image: mongo:8-noble
    environment:
      MONGO_INITDB_ROOT_USERNAME: filerskeepers
      MONGO_INITDB_ROOT_PASSWORD: filerskeepers
      MONGO_INITDB_DATABASE: filerskeepers
    container_name: filerskeepers-mongodb
    ports:
      - "27617:27017"
    volumes:
      - filerskeepers-mongo-data:/data/db
      - filerskeepers-mongo-config:/data/configdb

  filerskeepers-redis:
    image: redis:8.2-alpine
    container_name: filerskeepers-redis
    ports:
    - "6699:6379"


volumes:
  filerskeepers-mongo-data:
  filerskeepers-mongo-config:
